* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slideWrap {
  position: relative;
  width: 1200px;
  height: 400px;
  overflow: hidden;
}

/* left 를 top */
#slider {
  width: 3600px; /* top일때 1200px */
  height: 400px;
  position: relative;
  left: 0;
  transition: left 0.5s ease-in-out;
}

.slide {
  float: left; /* 3600px일 경우에만 */
  transition: 0.3s ease;
  width: 1200px;
  height: 400px;
}
